<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">The Story Behind My Application</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/about-1.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2021</h4>
                        <h4 class="subheading">It is Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            My Application is using Angular based client side and for server side spring boot is used. I want to contribute ideas, take chances, and step out of my comfort zone.
                        </p>
                    </div>
                </div>
            </li>

             <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/about-2.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2021</h4>
                        <h4 class="subheading">Build a career with us</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We are a passionate bunch of designers, developers, strategists, analysts, marketers and project managers. Follow us on LinkedIn and Twitter or sign up for our newsletter to find out about future openings!</p></div>
                </div>
            </li>
             <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/about-3.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2021</h4>
                        <h4 class="subheading">Phase One Expansion</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">At the core of our projects is transformation - taking something from what it is to what it could be.
                        This is a means to achieve transformation at an individual, team, company, client and societal level, as digital technologies empower a global transformation in every aspect of life: eating, meeting, travelling, learning, voting, leading, living !
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>