<!-- <div class="container-fluid" id="customerApp"> -->
  <div class="header-container">
    <div id="fixedheader">
      <app-header></app-header>
    </div>
  </div>
  
  
<div id="routercontent">
  <router-outlet></router-outlet>
</div>
  

  <div id="fixedfooter">
    <app-footer></app-footer>
  </div>
  
<!-- </div> -->

<!-- <app-portfolio></app-portfolio> -->
<!-- <app-home></app-home> -->
<!-- <app-services></app-services>

<app-about></app-about>
<app-team></app-team>
<app-contact></app-contact> -->

<!-- <div class="container-fluid"> -->
  <!-- <router-outlet></router-outlet>

  <app-footer></app-footer> -->





<!-- <h1>
  {{title}}
</h1>

<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>
<div>
  <app-welcome></app-welcome>
</div>

<app-login></app-login> -->

<!-- Below is working Code-->
<!-- <app-menu></app-menu>
<BR>
<router-outlet></router-outlet>
<BR>
<app-footer></app-footer> -->





<!-- <div class="container-fluid"> -->
  <!-- <app-header></app-header>
  <app-back-carousal></app-back-carousal> -->
<!-- </div> -->



<!-- <div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <app-back-carousal></app-back-carousal>
  </div>

</div> -->


<!-- <app-demotest></app-demotest> -->